@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Baloo+Da+2&family=Noto+Sans+TC&family=Paytone+One&display=swap");

.font-azeretMono {
  font-family: "Azeret Mono", monospace !important;
}

.font-balooDa2 {
  font-family: "Baloo Da 2", cursive !important;
}

.font-helveticaNeue {
  font-family: "Helvetica Neue", sans-serif !important;
}

.font-NotoSansTC {
  font-family: "Noto Sans TC", sans-serif !important;
}

.font-paytoneOne {
  font-family: "Paytone One", sans-serif !important;
}
