@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono&family=Baloo+Da+2&family=Noto+Sans+TC&family=Paytone+One&display=swap");

.font-azeretMono{
  font-family: "Azeret Mono", monospace;
}

.font-BalooDa2{
  font-family: "Baloo Da 2", cursive;
}

.font-NotoSansTC{
  font-family: "Noto Sans TC", sans-serif;
}

.font-paytoneOne{
  font-family: "Paytone One", sans-serif;
}
