<!-- 搜尋 -->
<app-filter-posts (postFilter)="getPosts($event)" #filterPosts></app-filter-posts>
<!-- 載入中 -->
<ng-container *ngIf="isLoading; else notLoading">
  <div class="card">
    <div class="card-body">
      <div class="card-title d-flex align-items-center placeholder-wave">
        <span class="placeholder rounded-circle-size-45"></span>
        <h4 class="h6 mb-0 ms-4 flex-grow-1 placeholder-wave">
          <span class="placeholder col-6 d-block"></span>
          <span class="placeholder placeholder-xs col-3 d-block mt-1"></span>
        </h4>
      </div>
      <p class="card-text placeholder-wave">
        <span class="placeholder col-12"></span>
        <span class="placeholder col-12"></span>
      </p>
    </div>
  </div>
</ng-container>
<ng-template #notLoading>
  <!-- 貼文 -->
  <ng-container *ngIf="posts.length; else noPosts">
    <div class="card" *ngFor="let post of posts; first as isFirst; trackBy: trackByFn" [class.mt-4]="!isFirst">
      <div class="card-body">
        <div class="card-title d-flex align-items-center"><img
            [src]="post.user.photo ? post.user.photo : 'assets/images/user_default.png'"
            class="rounded-circle-size-45 border" [alt]="post.user.name">
          <h4 class="h6 fw-bold mb-0 ms-4 text-truncate"><a href="#" class="link-dark">{{ post.user.name }}</a><small
              class="fs-8 fw-normal text-muted d-block">{{ post.createdAt | date: 'yyyy/MM/dd HH:mm:ss' }}</small>
          </h4>
        </div>
        <p class="card-text">{{ post.content }}</p>
        <img [src]="post.image" class="img-fluid rounded border" *ngIf="post.image"
          [alt]="post.user.name + ' - ' + post.content.substr(0, 20) + '...'">
      </div>
    </div>
  </ng-container>
  <ng-template #noPosts>
    <div class="card">
      <div class="card-header px-4 d-flex">
        <span class="border border-1 rounded-circle rounded-circle-size-9 d-block bg-danger me-1"></span>
        <span class="border border-1 rounded-circle rounded-circle-size-9 d-block bg-warning me-1"></span>
        <span class="border border-1 rounded-circle rounded-circle-size-9 d-block bg-success"></span>
      </div>
      <div class="card-body text-center text-muted">目前尚無動態，新增一則貼文吧！</div>
    </div>
  </ng-template>
</ng-template>
