<form #validateForm="ngForm" (ngSubmit)="submitForm()">
  <div class="mb-4">
    <label for="newPassword" class="form-label">輸入新密碼</label>
    <input [type]="formsSchema.password.type" class="form-control" placeholder="請輸入新密碼" #newPassword="ngModel"
      name="newPassword" id="newPassword" [pattern]="formsSchema.password.validates.pattern"
      [(ngModel)]="data.newPassword" [required]="formsSchema.password.validates.isRequired"
      [minlength]="formsSchema.password.validates.minlength">
    <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)" class="invalid-feedback text-start"
      [class.d-block]="newPassword.errors && (newPassword.errors['required'] || newPassword.errors['minlength'] || newPassword.errors['pattern'])">
      {{ formsSchema.password.error.default }}</div>
  </div>
  <div class="mb-4">
    <label for="confirmPassword" class="form-label">再次輸入</label>
    <input [type]="formsSchema.password.type" class="form-control" placeholder="再次輸入新密碼" #confirmPassword="ngModel"
      name="confirmPassword" id="confirmPassword" [(ngModel)]="data.confirmPassword"
      [required]="formsSchema.password.validates.isRequired">
    <div class="invalid-feedback text-start" [class.d-block]="data.confirmPassword !== data.newPassword">{{
      formsSchema.password.error.confirm }}</div>
  </div>
  <div class="d-grid">
    <button class="btn btn-primary my-4" type="submit"
      [disabled]="validateForm.invalid || data.confirmPassword !== data.newPassword">{{ title }}</button>
  </div>
</form>
